*{
  box-sizing: border-box;
  margin: 0.1rem;
}

/*Nab=vbar styling*/

.outercomp{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  background-color: rgb(0, 242, 255);
  height: 4rem;
}

.outercomp .navcomp{
  padding: 0.2rem;
  border: 2px solid red ;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.navcomp .link{
  text-decoration: none;
}

.navcomp:hover{
  color: yellow !important;
  background-color: rgb(247, 137, 137);
  border-color:yellow;
}

/*Home screen designing*/
.card{
  border: 2px solid blue !important;
  border-radius: 0.8rem;
  background-color: aqua;
  margin: 0.8rem;
}

.card:hover{
  background-color: rgb(41, 144, 255);
  color: #fff;
}
.cardele{
  border-bottom: 2px dashed red;
  padding: 0.5rem;
}

.btnflex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
}

.btnflex .btn{
  border: 2px solid red;
  border-radius: 0.5rem;
  margin: 0.4rem;
}

.btnflex .btn:hover{
  background-color: yellow;
}

.header{
margin: 0.5rem;
padding: 0.5rem;
color: red;
}